@import url('https://fonts.cdnfonts.com/css/futura-pt');

.media__container {
    position: relative;
    margin-top: 10rem;
}
.media__header {
    display: flex;
    justify-content: space-evenly;
    gap: 35vw;
    align-items: center;
    margin-right: 7.5%;
    margin-left: 8.5%;
}
.media__header > button {
    align-items: center;
    text-align: center;
    width: 150px;
    height: 51px;
    font-family: 'FuturaPT-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 102.26%;
    /* or 20px */


    color: #FFFFFF;


    border: transparent;
    background: #A3C891;
    border-radius: 6px;
}
.media__header > button:hover {
    background-color: #2077A5;
}
.media__header > h1 {
    
    height: 43px;
    font-family: 'FuturaPT-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: max(2.4405125076266017vw, 1.5rem);
    line-height: 102.26%;
    /* or 41px */

    text-transform: uppercase;

    color: #5F5F5F;
}
.headers{ 
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    width: 1100px;
    margin-left: 15%;
    align-items: center;
    /* or 33px */


    color: #747272;
}
.headers > button {
    font-family: 'FuturaPT-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(3.2772751463544438vw, 1.5rem);
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}
.vector {
    height: 23px;
    width: 0.5px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vertical__line {
    position: relative;

    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #D3D3D3;
    transform: rotate(0deg);
}
.arrow__indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 0px solid #A3C891;
    border-right: 3px solid #A3C891;
    border-bottom: 3px solid #A3C891;
    border-left: 0px solid #A3C891;
    content: '';
    transform: rotate(45deg);
    margin-top: -5px;
    left:  1.232197977647685vw;

}
.arrow__border__left {
    position: absolute;
    width: 15px;
    border-top: 3px solid #A3C891;
    content: '';
    height: 10px;
    transform: rotate(-45deg);
    top: 12px;
    right: 3px;
}
.arrow__border__right {
    position: absolute;
    width: 15px;
    border-top: 3px solid #A3C891;
    content: '';
    height: 10px;
    transform: rotate(-45deg);
    top: -8px;
    left: 12px;

}
.arrow__border_middle {
    position: absolute;
    width: 11px;
    border-top: 5px solid #F1F2F2;
    content: '';
    height: 1px;
    transform: rotate(-45deg);
    top: 2px;
}

.media__cards {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: min(5vw, 50px);
}
.media__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10vh;
    margin-left: 65.5vw;
}
@media screen and (max-width: 700px) {
    .media__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }.media__header > button {
        font-size: 12px;
        min-width: 25%;
        max-width: 150px;
        height: 25px;
    }
    .arrow__indicator {
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 0px solid #A3C891;
        border-right: 3px solid #A3C891;
        border-bottom: 3px solid #A3C891;
        border-left: 0px solid #A3C891;
        content: '';
        transform: rotate(45deg);
        margin-top: -5px;
        left:  3.532197977647685vw;
    
    }
}