@import url('https://fonts.cdnfonts.com/css/futura-pt');

.media__container {
    position: relative;
    margin-top: 10rem;
}
.media__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7.5%;
    margin-left: 7.5%;
}
.media__header > button {
    align-items: center;
    text-align: center;
    width: 150px;
    height: 51px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 102.26%;
    /* or 20px */


    color: #FFFFFF;


    border: transparent;
    background: #A3C891;
    border-radius: 6px;
}
.media__header > button:hover {
    background-color: #2077A5;
}
.media__header > h1 {
    width: 395px;
    height: 43px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 102.26%;
    /* or 41px */

    text-transform: uppercase;

    color: #5F5F5F;
}
.headers{ 
    display: flex;
    justify-content: flex-start;
    gap: 5vw;
    width: 1100px;
    margin-left: 7.5%;
    align-items: center;
    /* or 33px */


    color: #747272;
}
.headers > button {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}
.vector {
    height: 23px;
    width: 0.5px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vertical__line {
    position: relative;

    width: max(85%, 1000px);
    left: 7.5%;
    margin-top: 10px;
    border: 1px solid #D3D3D3;
    transform: rotate(0deg);
}
.arrow__indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 0px solid #A3C891;
    border-right: 3px solid #A3C891;
    border-bottom: 3px solid #A3C891;
    border-left: 0px solid #A3C891;
    content: '';
    transform: rotate(45deg);
    margin-top: -5px;

}
.arrow__border__left {
    position: absolute;
    width: 15px;
    border-top: 3px solid #A3C891;
    content: '';
    height: 10px;
    transform: rotate(-45deg);
    top: 12px;
    right: 3px;
}
.arrow__border__right {
    position: absolute;
    width: 15px;
    border-top: 3px solid #A3C891;
    content: '';
    height: 10px;
    transform: rotate(-45deg);
    top: -8px;
    left: 12px;

}
/* .vertical__line::before{
    position: absolute;
    width: 45px;
    height: 10px;
    border-top: 0px solid #A3C891;
    border-right: 0px solid #A3C891;
    border-bottom: 2px solid #A3C891;
    border-left: 0px solid #A3C891;
    left: calc(var(--left) - 16px);
    content: '';
    margin-top: -12px;
} */
.media__cards {
    display: flex;
    margin-top: 3%;
    justify-content: flex-start;
    margin-left: 7%;
    gap: 75px;
}
.media__footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin: 5rem 12.5vw 0rem 0rem;
}
@media screen and (max-width: 560px) {
    .media__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .media__header {
        display: flex;
        justify-content: space-evenly;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
    }
    .media__header > h1 {
        width: 395px;
        height: 43px;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100.26%;
        /* or 41px */
    
        text-transform: uppercase;
    
        color: #5F5F5F;
    }
    .headers{ 
        margin-left: 4rem;
        display: flex;
        justify-content: center;
        width: 90px;
        gap:0px;
        align-items: center;
        /* or 33px */
    
    
        color: #747272;
    }
    .headers > h1 {
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 20px;
    }
    .headers > h1:nth-child(2) {
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        /* or 33px */
    
    
        color: #A3C891;
    }
    .vertical__line {
        position: relative;
        width: 350px;
        height: 11px;
        left: 60px;
        border: none;
    }
    .media__header > button {
        align-items: center;
        text-align: center;
        width: 120px;
        height: 51px;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 102.26%;
        /* or 20px */
    
    
        color: #FFFFFF;
    
    
        border: transparent;
        background: #A3C891;
        border-radius: 6px;
    }
  }