@import url('https://fonts.cdnfonts.com/css/futura-pt');

.footer__container {
    margin-top: 5%;
    width: 100%;
    height: 589px;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.footer__header {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 12vw;
}
.footer__visitor{
    display: flex;
    justify-content: flex-start;
    gap: 0.4vw;
    align-items: center;
    margin-left: 10%;
}
.footer__visitor > h1{
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px,1.064307504575961vw,20px);
    line-height: 24px;
    /* identical to box height, or 120% */

    text-transform: capitalize;

    color: #747272;
}
.footer__visitor > h3 {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px,1.064307504575961vw,18px);;

    color: #B7B7B7;
}
.footer__working {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer__working > h1{
    
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px,1.064307504575961vw,20px);
    line-height: 26px;

    color: #747272;
 }
 .footer__working > h3 {
    margin-left: 2vw;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(8px,1.064307504575961vw,24px);
    line-height: 23px;

    color: #AFAFAF;
}
.footer__vector {
    position: relative;
    width: 60vw;
    top: -70px;
    left: 22vw;
    min-width: 300px;
    padding-left: 150px;
}
.footer__vector1 {
    position: relative;
    width: 60vw;
    top: -70px;
    left: 22vw;
    min-width: 500px;
    padding-left: 150px;
}
.footer__header input {
    width: 12vw;
    height: 50px;
    margin-left: 2vw;
    border: transparent;
    background-color: transparent;
    z-index: 1;


    color: #B7B7B7;
}
.footer__hyperlinks { 
    display: flex;
    gap: 10.982306284319707vw;

}
.footer__header input:focus {
    outline: none;
    border: none;
}
.form__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6101281269066504vw;
}
.form__signup input {
    font-size: clamp(8px,1.064307504575961vw,24px);
}
.footer__signup{
    display: flex;
    gap: 1.2202562538133008vw;
    align-items: center;
}
.footer__signup h1 {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px,1.064307504575961vw,20px);
    line-height: 28px;
    /* identical to box height, or 140% */


    color: #2077A5;
}
.footer__main {
    position: relative;
    top: -40px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10.982306284319707vw;
}
.vertical__linefooter{
    height: 52px;
    border: 1px solid #73654A;
    margin: 0px 15px 0px 15px;
}
.footer__logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap:  0.6101281269066504vw;
    align-items: center;
    margin-left: 9%;
    height: 0;
    
}
.footer__logo > img {
    width: 50%;
    max-width: 10vw;
}
.footer__about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top:  -2.4405125076266017vw;
    color: #AFAFAF;
}
.footer__about a {
    color: #AFAFAF;
}
.footer__links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: -2.4405125076266017vw;
}
.footer__links a {
    color: #AFAFAF;
}
.footer__help {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: -2.4405125076266017vw;
}
.footer__help a {
    color: #AFAFAF;
}
.footer__main h1{
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(16px,1.664307504575961vw,24px);
    line-height: 24px;
    /* or 120% */

    text-transform: capitalize;

    color: #747272;
}
.footer__main h3 {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(8px,1.064307504575961vw,24px);
    /* or 222% */


    color: #AFAFAF;
}
.footer {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18.303843807199513vw;
    margin-left: 10%;
    height: 0;
    top: -80px;
}
.footer__copyright {
    position: relative;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px,1.064307504575961vw,18px);
    color: #A6A6A6;
    height: 0;

}
.footer__social {
    display: flex;
    width: 12.202562538133009vw;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2vw;
}
.footer__number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.66vw;
}
.footer__number h3 {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px,1.064307504575961vw,18px);

    color: #AFAFAF;
}
.social__logo:hover {
    width: 12%;
    height: auto;
    margin: -5%;
}
.logo__hint { 
    position: relative;
    border: 1px solid beige;
    background: white;
    color: red;
    top: -30px;
    right: 50px;

}
@media screen and (max-width: 768px) {
    .footer__container {
        margin-top: 5%;
        width: 100%;
        height: 100%;
    
        background: #FFFFFF;
        box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        flex-basis: 33%;
        gap: 4vh;
    }
    .footer__header {
        padding: 10px;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-basis: 100%;
        gap: 5px;
        /* gap: 5px; */
    }
    .footer__visitor{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        margin-left: 7.5%;
    }
    .footer__visitor img{
        height: 10px;
    }
    .footer__visitor > h1{
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 5px;
    
        text-transform: capitalize;
    
        color: #747272;
    }
    .footer__visitor > h3 {
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 5px;
    
        color: #B7B7B7;
    }
    .footer__working {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-left: 7.5%;

    }
    .footer__working > h1{
        
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 5px;
    
        color: #747272;
     }
     .footer__working > img{
        
        height: 10px;
     }
     .footer__working > h3 {
        margin-left: 5px;
        width: 110px;
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 5px;
        flex-wrap: wrap;
    
        color: #AFAFAF;
    }
    .footer__vector {
        position: relative;
        width: 100%;
        top: -20px;
        left: 0px;
        padding-left: 0px;
        content: url('../../assets/footer/footerline.png');
    }
    .footer__header plaintext {
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 5px;
       
    
    
        color: #B7B7B7;
    }
    .form__signup img {
        width: 10px;
    }
    .form__signup {
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 30px;
        min-width: 200px;
        margin-left: 7.5%;
        margin-right: auto;
    }
    .form__signup input {
        width: 60%;
        font-size: 10px;
        
    }     
    .footer__hyperlinks { 
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .footer__main {
        position: relative;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10vh;
        margin-right: auto;
        margin-left: 7.5%;
    } 
    .footer__main img {
        height: 50px;
    }
    .vertical__linefooter{
        height: 30px;
        border: 1px solid #73654A;
        margin: 0px 15px 0px 15px;
    }
    .footer__logo {
        position: relative;
        display: flex;
        justify-content: flex-start;
        gap: 0px;
        align-items: center;
        margin-top: 20px;
        left: -20px;
        
    }
    .footer__logo img {
        width: 90%;
        max-width: 20vw;
        
    }
    .footer__about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        top: -20px;
        flex-wrap: wrap;
    }
    .footer__links {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        top: -20px;
        flex-wrap: wrap;
    }
    .footer__vector1 {
        position: relative;
        width: 100%;
        top: -70px;
        left: 0px;
        padding-left: 0px;
    }
    .footer__help {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        top: -20px;
    }
    .footer__main h1{
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        
    
        text-transform: capitalize;
    
        color: #747272;
    }
    .footer__main h3 {
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
       
    
    
        color: #AFAFAF;
    }
    .footer {
        position: relative;
        height: 50%;
        padding: 2px;
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        flex-direction: column;
        margin-right: auto;
        line-height: 10px;
    }
    .footer__copyright {
        position: relative;
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #A6A6A6;
        height: 0;
    
    }
    .footer__social {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
    .footer__social img {
        height: 3vw;
    }
    .footer__number {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
    .footer__number img{
        height: 15px;
    }
    .footer__number h3 {
        font-family: 'Futura PT', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
    
        color: #AFAFAF;
    }
} 
