@import url('https://fonts.cdnfonts.com/css/futura-pt');

.photo__card {
    position: relative;
    width: 21.5vw;
    max-width: 500px;
    min-width: 200px;
    height: 532px;
    border-radius: 6px;
    
}
.card__name1 {
    position: absolute;
    left: 7.8%;
    right: 7.8%;
    top: 75.71%;

    font-family: 'FuturaPT-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: min(1.1vw, 1.5rem);

    text-transform: uppercase;

    color: #FFFFFF;
}
.photo__card img {
    filter: linear-gradient(0.92deg, #26537B 7.79%, rgba(38, 83, 123, 0) 120.91%);
}
.vector2 {
    width: 40px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.hover__text1 {
    position: absolute;
    bottom: 1vh;
    right: 6vh;
    padding-right: 5px;
}
.hover__text1 > h1 {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'FuturaPT-Bold', sans-serif;
    font-weight: 700;
    font-size: clamp(8px,1.064307504575961vw,20px);
    padding: 1.5957446808510638vw;
    left: 35%;
    color: #A3C891;
}
.hover__text1 > h1 > span {
    padding-top: 2px;
    padding-left: 2px;
}

.date__card-arabic {
    position: absolute;
    font-family: 'FuturaPT-Book', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px,1.064307504575961vw,18px);
    line-height: 102.26%;
    left: 7.8%;
    top: 70.05%;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
}
.date__card-english {
    position: absolute;
    font-family: 'FuturaPT-Book', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px,1.064307504575961vw,18px);
    line-height: 102.26%;
    left: 7.8%;
    top: 70.05%;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
}
#location__icon {
    height: 25px;
    margin-right: 10px;
}
#arrow__icon {
    height: 10px;
}
@media screen and (max-width: 700px) {
    .photo__card {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }
    .card__name1 { 
        font-size: 10px;
    }
    #arrow__icon {
        max-height: 9px;
    }
    
  }  