@import url('https://fonts.cdnfonts.com/css/futura-pt');

.photosection__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    position: relative;
    min-width: 100%;
    height: 546px;
    background: linear-gradient(13.3deg, #25527A -80.52%, rgba(37, 82, 122, 0) 362.92%), url('../../assets/photosection.png') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.photosection__headers {
    display: flex;
    flex-direction: row;
    gap: -10px;
    align-items: center;
    margin-top: 10vh;
}
.wrapper {
    width: 100%;
    margin-inline-end: 0;
    padding-right: 0;
}
.photosection__title {
    width: 50%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    min-width: 750px;
    margin-right: 0;
    flex-wrap: wrap;
    font-size: min(4.123711340206185vw, 2.5rem);
    text-transform: uppercase;
    color: white;
}
.photosection__information {
    width: 50%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: min(2.2vw, 1.25rem);
    margin-inline: 0;
    color: #FFFFFF;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* left: max(150px, 35vw); */
    gap: min(2vh,3.125rem);
}
.not-showing {
    position: absolute;
    font-family: 'Futura PT';
    font-style: normal;
    align-items: center;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 102.26%;
    margin-bottom: 7rem;
    padding-left: 15px;
    color: #A3C891;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .showing {
    position: absolute;
    
    font-family: 'Futura PT';
    font-style: normal;
    align-items: center;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 102.26%;
    bottom: 7rem;
    padding-left: 15px;
    color: #A3C891;
    visibility: visible;
    transition: visibility 1s, opacity 0.5s linear;
    opacity: 1;
  
  }
#locationButton {
    background: #A3C891;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: min(1.2202562538133008vw,20px);
    line-height: 102.26%;
    width: 12.263575350823674vw;
    height: 5.660377358490566vh;
    max-width: 201px;
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
}
#locationButton:hover{
    background-color: #2077A5;
}
#galleryButton:hover {
    background: #A3C891;
}
#galleryButton {
    border: 1px solid #FFFFFF;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: min(1.2202562538133008vw,20px);
    line-height: 102.26%;
    width: 12.263575350823674vw;
    height: 5.660377358490566vh;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: transparent;
    color: white;
    border-radius: 6px;
}
.photosection__container > ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 4.688rem;
    flex-wrap:initial;
}
.photosection__container li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}
li > h1 { 
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: min(24px,  1.464307504575961vw);
    word-wrap: break-word;
    /* or 25px */
    
    
    color: #FFFFFF;
}
.circle > img {
    display: block;
    margin: auto;
    width: 3.4777303233679073vw;
    padding-top: 35px;
}
.circle {
    box-sizing: border-box;
    justify-content: center;
    background: #2077A5;
    width: 7.987804878048781vw;
    line-height: 0;
    border-radius: 100%;
}
.circle:after {
    content: '';
    display: block;
    padding-bottom: 35%;
}

.circle:hover {
    transition: all 0.25s ease;
    opacity: 0.6s;
    border: 2px solid #A3C891;
}
.vectorLeft {
    position: absolute;
    width: 50%;
    max-width: 300px;
    top: 3.125rem;
}
.vectorRight {
    position: absolute;
    width: 50%;
    max-width: 300px;
    right: 0px;
    top: 6.25rem;
}
@media screen and (max-width: 700px) {
    .button {
        position: relative;
        display: flex;
        top: 100px;
        left: 10px;
        
    }
    #locationButton {
        height: 35px;
        width: 60px;
        font-size: 8px;
    }
    #galleryButton {
        height: 35px;
        width: 60px;
        font-size: 8px;
    }
    .photosection__container > ul {
        margin-top: 10.688rem;
    }
    .photosection__headers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }
    
}
/* @media screen and (max-width: 560px) {
    
    .photosection__container {
        display: inline-block;
        position: relative;
        width: 560px;
        height: 500px;
        background: linear-gradient(13.3deg, #25527A -12.52%, rgba(37, 82, 122, 0) 400.92%), url('../../assets/photosection.png') no-repeat;
        background-size: inherit;
        background-position: center center;
    }
    .photosection__title {
        position: relative;
        width: 300px;
        height: 43px;
        left: 10px;
        top: 150px;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 102.26%;
        text-transform: uppercase;
        color: white;
    }
    .photosection__container > plaintext {
        position: relative;
        width: 30px;
        left: 00px;
        flex-wrap: wrap;
        top: 160px;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 102.26%;

    
    
        color: #FFFFFF;
    }
    .button {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 0px;
        top: 150px;
        padding: 20px 20px;
        gap: 20px;
    }
    #locationButton {
        background: #A3C891;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 102.26%;
        width: 100px;
        height: 51px;
        border: 1px solid transparent;
        border-radius: 6px;
        color: white;
    }
    #galleryButton {
        border: 1px solid #FFFFFF;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 102.26%;

    
    
        color: #FFFFFF;
    

    
        width: 100px;
        height: 51px;
        background-color: transparent;
        color: white;
        border-radius: 6px;
    }
    .photosection__container > ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        margin-top: 30%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .photosection__container li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    li > h1 { 
        font-family: 'Futura PT';
        width: 100px;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 102.26%;

        
        
        color: #FFFFFF;
    }
    .circle > img {
        position: relative;
        height: 20px;
        width: 20px;
        line-height: inherit;
        top: -18px;
    }
    .circle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #2077A5;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
  } */
