@import url('https://fonts.cdnfonts.com/css/futura-pt');

.card__container1 {
    position: relative;
    width: 21.5vw;
    max-width: 500px;
    min-width: 200px;
    height: 532px;
    border-radius: 6px;

}
.card__name1 {
    position: absolute;
    left: 7.8%;
    right: 7.8%;
    top: 80.71%;

    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: min(1.1vw, 20px);

    text-transform: uppercase;

    color: #FFFFFF;
}
.card__container1 img {
    filter: linear-gradient(0.92deg, #26537B 7.79%, rgba(38, 83, 123, 0) 120.91%);
}
.vector2 {
    width: 40px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.hover__text1 > h1 {
    position: relative;
    font-family: 'Futura PT';
    top: 45vh;
    font-weight: 700;
    font-size: max(1.4255319vw,18px);
    padding: 1.5957446808510638vw;
}
.hover__text1 > h1 {
    color: #A3C891;
}
.date__card-arabic {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 102.26%;
    position: absolute;
    left: 42.83%;
    right: 8.29%;
    top: 75.05%;
    width: 200px;

    text-align: right;

    color: rgba(255, 255, 255, 0.6);
}
.date__card-english {
    position: absolute;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 102.26%;
    left: -4.83%;
    top: 75.05%;
    width: 200px;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
}
#location__icon {
    height: 25px;
    margin-right: 10px;
}
#arrow__icon {
    height: 10px;
}
@media screen and (max-width: 700px) {
    .card__container1 {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 200px;
    }
    /* .card__name1{
        position: absolute;
        width: 100px;
        font-size: 14px;
        top:20px;
    }
    .date__card-arabic {
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 102.26%;
        position: absolute;
        left: 4.83%;
        right: 8.29%;
        top: 75.05%;
        width: 200px;
        text-align: center;
    
        text-align: right;
    
        color: rgba(255, 255, 255, 0.6);
    }
    .date__card-english {
        position: absolute;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 102.26%;
        left: 4.83%;
        top: 75.05%;
        width: 200px;
        text-align: right;
        color: rgba(255, 255, 255, 0.6);
    }
  } */ }