
@import url(//db.onlinewebfonts.com/c/a5b324b1dc86e3633de3e059b2facf3d?family=FuturaPT-Bold);
@font-face {font-family: "FuturaPT-Bold"; src: url("//db.onlinewebfonts.com/t/a5b324b1dc86e3633de3e059b2facf3d.eot"); src: url("//db.onlinewebfonts.com/t/a5b324b1dc86e3633de3e059b2facf3d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a5b324b1dc86e3633de3e059b2facf3d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a5b324b1dc86e3633de3e059b2facf3d.woff") format("woff"), url("//db.onlinewebfonts.com/t/a5b324b1dc86e3633de3e059b2facf3d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a5b324b1dc86e3633de3e059b2facf3d.svg#FuturaPT-Bold") format("svg"); }
@font-face {
    font-family: 'GE SS TWO';
    src: url("../src/fonts/GE\ SS\ Two\ Medium.otf") format("opentype");
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #F1F2F2;
}
body {
    position: relative;
    font-family: 'FuturaPT-Bold', sans-serif;
}